In [1]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

# 과제1
다음데이터는 자동차의 모델과 연지(mpg)에 대한 자료를 조사한 Table 입니다.  
이 범주형 데이터에 대해 counts, percents, cumulative counts, cumulative percents를 계산 바랍니다.  
- (data.set: mycars.csv)

In [2]:
# mycars 데이터 가져오기(데이터의 경로 확인: mycars.csv)
ds_mycars=pd.read_csv("../data/mycars.csv", engine='python')
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [3]:
df=ds_mycars[['model', 'mpg']]
df.head()

  model  mpg
0    a4   18
1    a4   21
2    a4   20
3    a4   21
4    a4   16

In [4]:
# model 변수 Count:value_count, 순서대로 정렬 : sort_index
count=df['model'].value_counts().sort_index()
# CumCnt 계산: cumsum
cumcnt=np.cumsum(count)
# Percent 계산: 직접
percent=count/sum(count)*100
# CumPct 계산: cumsum
cumpct=np.cumsum(percent)
# DataFrame으로 취합
count_data=pd.DataFrame({'Count':count, 'CumCnt':cumcnt, 'Percent':percent, 'CumPct':cumpct})
# Column의 name(좌측상단 이름) 생성
count_data.columns.name='model'
# 결과 확인
count_data

model                   Count  CumCnt   Percent      CumPct
4runner 4wd                 6       6  2.564103    2.564103
a4                          7      13  2.991453    5.555556
a4 quattro                  8      21  3.418803    8.974359
a6 quattro                  3      24  1.282051   10.256410
altima                      6      30  2.564103   12.820513
c1500 suburban 2wd          5      35  2.136752   14.957265
camry                       7      42  2.991453   17.948718
camry solara                7      49  2.991453   20.940171
caravan 2wd                11      60  4.700855   25.641026
civic                       9      69  3.846154   29.487179
corolla                     5      74  2.136752   31.623932
corvette                    5      79  2.136752   33.760684
dakota pickup 4wd           9      88  3.846154   37.606838
durango 4wd                 7      95  2.991453   40.598291
expedition 2wd              3      98  1.282051   41.880342
explorer 4wd                6     104  2.564103   44.444444
f150 pickup 4wd             7     111  2.991453   47.435897
forester awd                6     117  2.564103   50.000000
grand cherokee 4wd          8     125  3.418803   53.418803
grand prix                  5     130  2.136752   55.555556
gti                         5     135  2.136752   57.692308
impreza awd                 8     143  3.418803   61.111111
jetta                       9     152  3.846154   64.957265
k1500 tahoe 4wd             4     156  1.709402   66.666667
land cruiser wagon 4wd      2     158  0.854701   67.521368
malibu                      5     163  2.136752   69.658120
maxima                      3     166  1.282051   70.940171
mountaineer 4wd             4     170  1.709402   72.649573
mustang                     9     179  3.846154   76.495726
navigator 2wd               3     182  1.282051   77.777778
new beetle                  6     188  2.564103   80.341880
passat                      7     195  2.991453   83.333333
pathfinder 4wd              4     199  1.709402   85.042735
ram 1500 pickup 4wd        10     209  4.273504   89.316239
range rover                 4     213  1.709402   91.025641
sonata                      7     220  2.991453   94.017094
tiburon                     7     227  2.991453   97.008547
toyota tacoma 4wd           7     234  2.991453  100.000000

# 과제2
대한민국 남성의 20~30 대 키를 측정한 결과, 평균 175cm, 표준편차 5cm이다.  
나의 키가 180cm 일 경우에 나는 몇 % 범위에 위치할까요?

In [5]:
mu=175
sigma=5
x=180
prob = stats.norm.cdf(x, mu, sigma)
print("나의 키는 {0:.1f}%에 위치합니다.".format(prob*100))

나의 키는 84.1%에 위치합니다.

# 과제3
어떤 자동차 1리터당 주행거리가 평균 12km, 표준편차 3km인 정규분포를 이룬다고 하자.  
1리터를 가지고 15km 이상을 달릴 확률을 얼마인가요?

In [6]:
# 누적확률 값 계산
mu = 12
sigma = 3
x1 = 15
# prob1: 누적확률 15이하 값 계산
prob1 = stats.norm.cdf(x1, mu, sigma)
print("{0}km 이상을 달릴 확률을 {1:.1f}% 에 해당함".format(x1, (1-prob1)*100))

15km 이상을 달릴 확률을 15.9% 에 해당함